.podcast-name{
    font-size: 4rem;
    text-transform: uppercase;
    margin-top: 2rem;
}
.podcast-description{
margin-block: 3rem;
background-color: whitesmoke;
padding: 2rem;
}
.podcasthost{
    display: flex;
    gap: 2rem;
}
.podcasthost img{
    width: 25px;
}
.podcast-episode{
    display: flex;
    gap: 1rem;
    padding-block: 1rem;
    border-bottom: 1px solid grey;
}
.container{
    max-width: 1000px;
    margin: auto;
}
.container h3{
    font-size: 1.5rem; 
    letter-spacing: 12px;
    margin-block: 3rem;
    font-weight: normal;
}

.episode-thumbnail{
    position: relative;
}
.episode-thumbnail img{
    width: 150px;
}
.episode-thumbnail .playbutton{
    width: 60px;
    position: absolute;
    top: 30%;
    left: 27%;
    display: none;
    
}
.episode-title{
    font-size: 1.3rem;
    text-transform: uppercase;
}
.podcast-info p{
    margin-bottom: 1rem;
}
#episode-date{
    color: grey;
}
.podcast-episode:hover .thumbnail{
        opacity: 0.4;    
    }
.podcast-episode:hover .podcast-info{
        opacity: .7;   
    }

.podcast-episode:hover .episode-thumbnail .playbutton {
    display: block; /* Show the play button on hover */
}


@media screen and (max-width:768px) {
    main{
        padding: 1rem;
    }
    .podcast-name{
        font-size: 2rem;
    }
    .podcast-episode{
        display: block;
    }
    .podcast-description{
        padding: 1rem;
    }
}