{% extends 'main/baselayout.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<div id="preloader">
    <div class="logo">
      <img src="{% static 'images/logo_c-t.png' %}" alt="Your Logo"> 
    </div>
</div>

<div class="introduction">
    <div class="intro-left">
        <p>Welcome to the</p>
        <h1 >FAYASITE KOLEKTIF</h1>
    </div>
    <div class="intro-right">
        <div class="circle" onclick="location.href='#values';" id="rotatetext">
            <div class="text" >
              <p> scroll. down. scroll. down  </p>
            </div> 
            <a href="#values"> <img src="https://img.icons8.com/ios-filled/35/null/chevron-down.png" alt="icon-arrow down"/></a>
          </div>
    </div>
</div>
<section class="about" style="background: url('{% static 'images/maskpattern.jpg' %}')">
    <div>
        <p class="tagline">A dynamic and radical space for decolonial exploration,critical dialogue,artistic expression and community engagement.</p>
    </div>
</section>


    <div class="columns" id="values">
        <div class="column">
            <div class="mouse_alerts" data-message="LEARN MORE">
                <h5>Imagining Decolonial Futures</h5>
                <p>
                    The Fayasite Kolektif is both an artist collective and a dynamic space that serves as a hub for intersectional exploration, fostering critical dialogue, community empowerment, and the creative envisioning of decolonial futures.           </p>
          </div>
          <div class='column-image' style="background:url('https://images.pexels.com/photos/6334064/pexels-photo-6334064.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') ;background-position: center; background-repeat: no-repeat;background-size: cover;"></div>

        </div>
        <div class="column column-reverse">        
            <div class="mouse_alerts" data-message="LEARN MORE">
                <h5>Exhibitions</h5>
                <p>
                    Discover our current exhibition, "even in retreat," where art explores resilience, activism, self-care, and social justice. Delve into the paradoxical strength of this phrase as it signifies both facing adversity and seeking restoration. These artworks reflect unwavering commitment, highlighting the beauty of persisting through setbacks. "even in retreat" embodies compassion, reminding us to heal amidst struggles. Engage with these intricate pieces, inviting personal connection and offering moments of wonder and reflection.
                </p>
            </div>
            <div class='column-image' style="background-image: url('{% static 'images/Untitled design (4).png' %}');"></div>

        </div>
    </div>
<hr>
<section class="articles ">
<h3>Articles</h3>
<div class="articles-container mouse_alerts"> 
    {% for article in articles %}

        <article>
            {% if paginated_article %}
                <span class="recentPost">{{ article.date|date:"d" }}<br>{{ article.date|date:"F" }}
                </span>
            {% endif %} 
            <div class="article_image"  style=" background: url('{{article.image.url}}');background-position:center;
            background-size:cover; background-repeat: no-repeat;">
            </div>
            <div class="article_element" >
                <p style="margin-bottom: 10px;color: grey;"> {{article.category|title}}</p>
                <h2><a href="{% url 'details' courseid=article.slug %}" style="font-weight: 200;font-size: 1.3rem;"> {{article.title|title}}</a></h2>  
                <a href="{% url 'details' courseid=article.slug %}"> <button id="readmore">Read More</button> </a>
            </div>      
        </article>
    {% endfor %}
</div>
    <a href="{% url 'blog' %}?category=article" style="width: 100%;"> <button id="readmore" style="border-color: silver;padding: 1em 2em;">All Articles</button> </a> <br>
</section>

{%if events%}
<section class="events">
    <h3 style="letter-spacing: 12px;font-size: 2.5rem;">Events</h3>
    <div class="events_container">
        {% for event in events%}
        <a href="{% url 'events' %}">
            <div class="event">
                <div class="date"> {{ event.date|date:"d" }} {{ event.date|date:"M" }}
                    <br> {{event.date|date:"Y"}}</div>
                <div class="event_info">
                    <p class="event_title"> {{event.title}}</p>
                    <p class="event_description">{{event.description}}</p>
                </div>
            </div>
        </a>

        {% endfor %}
    </div>
    <a href="{% url 'events' %}" style="width: 100%;"> <button id="readmore" style="border-color: silver;padding: 1em 2em;">All Events</button> </a> <br>
</section>



</section>
{%endif%}
<section class="podcast">
    <div class="podcast-container">
        <div  class="podcast-info">
            <h3 style="letter-spacing: 12px;font-size: 2.5rem;">The Podcast</h3>
            <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda rerum recusandae inventore voluptatem natus quaerat, suscipit aut explicabo nulla ex.
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sed sequi esse magnam temporibus excepturi adipisci atque quas in doloribus?
                </p>
                <br>
                <a href="{% url 'podcast' %}"> <button id="readmore" class="readmore-podcast">Visit Podcast → </button> </a> <br>
                <br>
            <ul class="podcasthost">
                    <li><a href="{{ contact_details.spotify}}"> <img src="{% static 'icons/spotify.png' %}" alt="spotify-logo"></a></li>
                    <li><a href="{{ contact_details.applepodcast}}"><img src="{% static 'icons/applepodcast.png' %}" alt="applepodcast-logo"></a></li>
                    <li><a href="{{ contact_details.youtube}}"><img src="{% static 'icons/youtube.png' %}" alt="youtube-logo"></a></li>
            </ul>  
        </div>
         <div class="podcast-image" >
            <img src="{% static 'images/podcast.png' %}" alt="">
        </div>
    </div>
</section>

<style>
.text{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: rotate 10s linear infinite;
    font-size: medium;
}
.text span{
  position: absolute;
  left:50%;
  transform-origin:0 75px;
}
.circle{
    position:relative;
    width: 150px;
    height: 150px;
    margin: 0  auto;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
font-size: smaller;
    cursor: pointer;
}
@keyframes rotate {
    0%{
        transform: rotate(-0deg);
    }
    100%{
        transform: rotate(360deg);
    }}
</style>
<script>
        const text = document.querySelector(".text p");
    text.innerHTML = text.innerText.split('').map(
      (char, i) =>
        `<span style="transform:rotate(${i * 13.3}deg)">${char}</span>`
    ).join('');
  
</script>
<script>
    let preloader = document.getElementById("preloader");
    setTimeout(function () {
  preloader.style.transition = "1s ease-in-out";
      preloader.style.display = "none";
}, 2500);
</script>

<script>

const timeline = new ScrollTimeline({
	source: document.documentElement,
});
// Loop all eligible columns
document.querySelectorAll(".column-reverse").forEach(($column) => {
	// Flip item order in reverse columns
	$column.style.flexDirection = "column-reverse";

	// Hook Animation
	$column.animate(
		{
			transform: [
				"translateY(calc(-100% + 100vh))",
				"translateY(calc(100% - 100vh))"
			]
		},
		{
			fill: "both",
			timeline
		}
	);
});
</script>



<script>
        let serviceItem = document.querySelectorAll('.tagline');
    observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.intersectionRatio > 0) {
          entry.target.style.animation = 'pop 1.2s ease-in-out';
        } else {
          entry.target.style.animation = 'none';
        }
      })
    })
    serviceItem.forEach(block => {
      observer.observe(block);
    });
</script>
<script>

const mouseAlerts = document.querySelectorAll('.mouse_alerts');
    mouseAlerts.forEach(mouseAlert => {
      mouseAlert.addEventListener('mouseover', () => {
        const message = mouseAlert.getAttribute('data-message');
        circle.style.height = "100px";
        circle.style.width = "100px";
        circle.style.backgroundColor = "black"
        if (message){
        circle.innerText='LEARN MORE'
        }
        else{
            circle.innerText='SCROLL →'
        }
      });
  
      mouseAlert.addEventListener('mouseout', () => {
   
        circle.style.height = "15px";
        circle.style.width = "15px";
        circle.style.borderRadius = "50%";
        circle.innerText='';
        circle.style.backgroundColor = "#f82c14"
 
      });
    });
</script>
{%endblock%}
