{% extends 'main/baselayout.html' %}
{% load static%}
{% load custom_filters %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/podcast.css' %}">
{% endblock %}
{% block content %}
<h2 class="podcast-name">{{podcast_name}}</h2>
{% if episodes %}
<p style="padding-block: 1rem;">Latest episode</p>
    <iframe style="border-radius:12px" src="{{ episodes.0.url|spotify_to_embed }}" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    {% if podcast_description %}
    <div class="podcast-description">
        <p style="margin-bottom: 1rem;font-size: 1.5rem;">About the Podcast</p>
        <p>{{podcast_description}}</p>
        <p style="margin-block: 1rem;font-size: 1.3rem;"> Available on:</p>

        <ul class="podcasthost">
            <li><a href='{{ contact_details.spotify_podcast}}' target="_blank"><span> <img src="{% static 'icons/spotify.png' %}" alt="spotify-logo"></span></a></li>
            <li><a href='{{ contact_details.apple_podcast}}' target="_blank"><span><img src="{% static 'icons/applepodcast.png' %}" alt="applepodcast-logo"></span></a></li>
            <li><a href='{{ contact_details.youtube_podcast}}' target="_blank"><span><img src="{% static 'icons/youtube.png' %}" alt="youtube-logo"></span></a></li>
        </ul>
    </div>
    {%endif%}
{% endif %}
<div class="container">
<h3> Episodes </h3>
{% for episode in episodes|slice:"1:" %}
<a href="{% url 'episode' episode.url|spotify_to_id %}">
    <div class="podcast-episode" >
        <div class="episode-thumbnail">
            <img src={{episode.thumbnail}} alt="episode thumpnail" class="thumbnail">
            <img src="{% static 'icons/playbutton.png' %}" alt="playbutton"  class="playbutton">
        </div>
        <div class="podcast-info">
            <p class="episode-title"> {{episode.title }} </p>
            <p id="episode-date"> {{episode.date }}  </p>
            <p> {{episode.description|slice:200 }}... </p>
            <p></p>
        </div>
    </div> 
</a>
{%endfor%}
</div>
{%endblock%}