.articles{
    width:80%;
    margin:auto;
    margin-top:20px;
    padding: 1rem;
    padding-top: 2%;
    max-width: 900px;
    position: relative;
}
.comment{
    width: 100%;
    margin:auto;
   padding: auto;   
}
.article_image{
    width: 100%;
    height: 400px;
}
.article .date{
    color:GREY;
    font-size: 15px;
}
.article #title{
    letter-spacing: 3px;
    font-size: calc(1rem + 2vw);
    font-family: Times, serif;
}
.article li{
    margin-block: 1rem;
    list-style: inherit;
}
.articleBody h2 ,h3 ,h4, h5, h6,a {
    font-family: 'Times New Roman', Times, serif;
}
.articleBody a{
    text-decoration: underline;
}
.comment_name{
    display: flex;
    justify-items: flex-start;
    gap:5px
}
.comment_date{
    color:grey;
    font-size: small;
}

.name_field{
    width: 100%;
    padding:1rem;
    margin-bottom:2rem;
    font-family: 'Open Sans', sans-serif;
    
}
.submitbtn{
    width: 100%;
    padding: .6rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: medium;

}
.comment_field{
    width: 100%;
    padding:1rem;
}
.detail_nav{
    font-weight: bold;
    display: inline-block;
    width: 50%;
}
.articleBody{
    line-height:1.8em;
    font-size: 1.2rem; 
    text-align: justify;
}
q{
    font-weight: bold; 
    font-family: 'Times New Roman', Times, serif;  
    font-size: 1.5rem;   
}
q::before{
    content: "";
    border-left: 1px solid red;
    padding-left: 5%;
    margin-block: 10px;
}
.paginationNav{
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.paginationNav div{
    width: 50%;
}


@media screen and (max-width:768px) {
.articles{
    width:100%;
    padding:2rem ;
    margin:auto;   
}  
.article{
    width: 100%;
    margin-bottom: 3rem;
}   
.article_image{
    height: 300px;
}
.paginationNav{
    font-size: small;
}

}