{% extends 'main/baselayout.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/bloghome.css' %}">
{% endblock %}
{% block content %}
<div class="blogcontainer">

<div>
    {% if searched%}
        <h1 style="text-align: center; font-family: 'Times New Roman', Times, serif;"> Your search result for "{{ searched }}"</h1>
        <br>
        <p style="text-align: center; color:grey;">{{count}} result(s) found</p>
{%endif%}
</div>
        <div>
            <form action="{% url 'search' %}"  style="display: flex; width: 100%; margin: auto; padding: .6rem;margin-block: 1rem;" >
                <input type="text" name="searchterm" id="" placeholder="search Blog item" style="padding:.6rem;width: 100%;font-size: large;border: 1px solid grey;">
                <input type="submit" value="search" style="padding: .6rem; background-color: rgba(0, 0, 0, 0.865);color: white;border: none;">
            </form>
        </div>
        {% if paginated_article %}
            
        {% else %}
        <p style="text-align: center; font-size: large;margin-top: 2rem;"> No item found</p>
        {%endif%}
        <ol class="article-list"> 

            {% for article in paginated_article %}
            <li> 
                
                <article>
                    {% if paginated_article %}
                        <span class="recentPost">{{ article.date|date:"d" }}<br>{{ article.date|date:"F" }}
                        </span>
                    {% endif %} 
                    <div class="article_image"  style=" background: url('{{article.image.url}}');background-position:center;
                    background-size:cover; background-repeat: no-repeat;" onclick="window.open('{% url 'details' courseid=article.slug %}','_self');">
                    </div>
                    <div class="article_element" >
                        <p style="color: grey;"> {{article.category}}</p>
                        <h2 ><a href="{% url 'details' courseid=article.slug %}" style="font-weight: 200;"> {{article.title|title}}</a></h2>
                    </div>      
                </article>
                
            </li>
            {% endfor %}
        </ol>
        <p style="text-align:center; background-color: whitesmoke;padding: 1rem; max-width: 850px; margin: auto;"> Page  {{paginated_article.number}} of  {{ paginated_article.paginator.num_pages }} </p>  

        <div class="paginationNav"> 

                    {% if paginated_article.has_previous %}
                            <span style="float:left;"> 
                                    <a href="?page=1"> &laquo; First </a>
                                    <a href="?page={{paginated_article.previous_page_number}}"> Previous</a>
                            </span >    
                    {% endif %}

                    {% if paginated_article.has_next %}
                            <span style=" float:right;" >
                                <a href="?page={{ paginated_article.next_page_number }}" >Next <span> &raquo; </span> </a>
                            </span>
                    {% endif%}
        </div>
</div>
{% endblock %}
