*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}
:root {
  --fireorange: #ff781c;
  --fireyellow: #f8e91a;
  --firered: #f82c14;
}
body{
  position: relative;
}

  button#readmore {
      width: 100%;
      color: black;
      padding: 0.6em 2em;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1rem;
      transition-duration: 0.4s;
      cursor: pointer;
      border: 1px solid black;
      background-color: white;
  }
  button#readmore:hover {
      color: white;
      background-color: black;
      transition-duration: 1s;
  }
/* ------- General Styling -------*/
a{
  color: black;
  text-decoration: none;
}
li{
  list-style: none;
}

.section-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 12px;
  font-weight: 300;
  margin-bottom: 3rem;
  position: relative;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: black;
}

/* ------- Nagivation bar Styling -------*/
nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid whitesmoke;

}
.donate-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border:2px solid #f99c07;
  color: #f99c07;
  text-decoration: none;
}
ul.navlinks {
  display: flex;
  justify-content: space-between;
  margin-right: 1.5rem;
  align-items: center;
}
ul.navlinks li{
  padding-inline: 1.5rem;
  text-transform: uppercase;
  font-size: 14px;
}
.navlinks a{
    font-family: 'Work Sans', sans-serif;
}
.logo{
  padding: .7rem 4rem;
}
.logo img{
  width: 90px;
}
.hamburger-lines{
  display: none;
}
/* ------- Main bar Styling -------*/
main{
  padding: 1rem 2rem;
  min-height: 60vh;
}

/* IOS */
input{
  -webkit-appearance: none ;
}
input[type=submit],select {
  -webkit-border-radius:0px;
}
select{
  min-width: 200px;
  padding: 7px;
  color: black;
}



@media screen and (max-width:768px) {

  #navlinks,#x{
      display: none;
  }
  #ham,.hamburger-lines{
      display: flex;
      align-items: center;
      padding-right: 0.6rem;
  }
  .section-title {
    font-size: 1.8rem;
    letter-spacing: 8px;
  }
  .hero-text{
      font-size: 3.5rem;
  }
  .hero span{
      margin-bottom: 3rem !important;
  }
  #navlinks{
    display: none;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    align-items: center;
    left: 0;
    height: 100vh;
    z-index: 3;
  }
  #x{
    z-index: 3;
    position: fixed;
    top: 2rem;
    right: 1rem;
  }
  #navlinks a{
      font-size: large;
  }

  .no-flex{
      display: block;
      margin-top: 1rem;
  }
  .events_container .event{
      display: block !important;
  }
  .events_container .date{
      display: block !important;
      text-align: left !important;
      margin-bottom: 20px;
  }
  nav .logo{
      padding: 0;
  }
  nav .logo img{
      width: 100px;
      padding: 1rem;
  }
  .mobile-hide{
    display: none !important;
  }
  
}
