.active{
    background-color: black !important;
}
.active small{
    color: white;
}
.article_element h2 a{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
    .article-list{        
        margin: 3rem auto ;
        position: relative;
        padding-block: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;  
        width: 100%;
        max-width: 850px;     
        
    }
    .page_title{
        text-align: center;
        padding: 5%;
        margin-bottom: 10px;
        font-size: calc(30px + 3vw);   
    }
    article{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1.1rem;   
        margin-bottom: 1rem;
        width: 400px;
        min-height: 500px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }
    article p{
    line-height: 1.6rem;
    }

    .article_element {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 200px;
    }
    .article_image{
        width:100%;
        height: 300px;
        background-color: black;
    }
    .recentPost{
        padding:7px 10px;
        letter-spacing: 6px;
        position: absolute;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.9);
        margin-left: 0px;
        color: white;
        font-size: small;
        line-height: 0.8rem;
    }    
    button#readmore{
    width: 100%;
        color: black; 
        padding:0.6em 2em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        transition-duration: 0.4s;
        cursor: pointer;
        border: 1.5px solid black;
        background-color: white;
    }
    button#readmore:hover {
      color: white;
      background-color: black;
      transition-duration: 1s;
    }
    #search_btn{
        margin-bottom: -10px;
    }
    .search{
        float:right;
        margin-top:10px
    }
    .search input{
        padding: 5px;
    }
    .btn_nav{
        border: 1px solid grey ;
        padding: 0.3rem 1.4rem;
        font-size: medium;
        background-color: white;
        min-width: 270px;
    }
    .categorybtns{
        margin-bottom: 2rem;
        margin: auto;
        display: flex;
        padding: 1rem;
    }
    .activebutton{
        background-color: black;
        color: white;
    }
    .paginationNav{
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 850px;
    margin: auto;
}
.paginationNav div{
    width: 50%;
}
    @media  screen and (max-width: 768px) {
        main{
            padding: 0;
        }
    .article-list{
        display: block;
        width: 100%;
        margin: 0;
        }
    article{
        width: 100%;
        height: auto;
        min-height: auto;
        margin-bottom: 1rem;
    }
    .article_element{
        display: block;
        height: auto;
    }
    .article_element h2{
        margin-bottom:1.3rem
    }
    }